<footer class="main">
  <div class="container">
    <div class="links">
      <h5><a href="#">Shop</a></h5>
      <ul>
        <li>
          <a href="/providers">Providers</a>
        </li>
        <li>
          <a class="disabled" href="#">Designers</a>
        </li>
        <li>
          <a href="/designs">Applications</a>
        </li>
        <li>
          <a href="/materials">Materials</a>
        </li>
        <li>
          <a class="disabled" href="#">Supplies</a>
        </li>
      </ul>
      <h5><a href="http://www.iplatea.com/sectors.html">Sectors</a></h5>
      <ul>
        <li><a href="http://medical.iplatea.com/">
          Medical</a></li>
        <li><a href="http://www.iplatea.com/automotive.html">
          Automotive</a></li>
      </ul>
    </div>
    <div class="links">
      <h5><a href="#">Services</a></h5>
      <ul>
        <li><a href="http://www.iplatea.com/make.html">
          Make</a></li>
        <li><a href="http://www.iplatea.com/design.html">
          Design</a></li>
        <li><a href="http://www.iplatea.com/supply.html">
          Supplies</a></li>
        <li><a href="http://www.iplatea.com/additional-services.html">
          Additional Services</a></li>
      </ul>
      <h5><a href="http://www.iplatea.com/community.html">
        Learn &amp; Community</a></h5>
      <ul>
        <li><a class="disabled" href="#">Events</a></li>
        <li><a class="disabled" href="#">Expert Blogs</a></li>
        <li><a class="disabled" href="#">Forums</a></li>
        <li><a class="disabled" href="#">Online Training</a></li>
        <li><a class="disabled" href="#">3DP Institute</a></li>
        <li><a class="disabled" href="#">Industry Reports</a></li>
      </ul>
    </div>
    <div class="links">
      <h5><a href="http://www.iplatea.com">Company</a></h5>
      <ul>
        <li><a href="http://www.iplatea.com/meet-the-team.html">
          Meet the Team</a></li>
        <li><a href="http://www.iplatea.com/our-values.html">
          Our Values</a></li>
        <li><a href="http://www.iplatea.com/support.html">
          Support</a></li>
        <li><a href="http://www.iplatea.com/contact.html">
          Contact</a></li>
      </ul>
      <h5><a class="disabled" href="#">Developers</a></h5>
    </div>
    <div class="links">
      <a class="logo" href="/">
        <svg class="shape shape-iplatea-negative-vertical">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-iplatea-negative-vertical"></use>
        </svg>
      </a>
      <ul class="social">
        <li><a href="#" class="link-facebook"></a></li>
        <li><a href="#" class="link-twitter"></a></li>
        <li><a href="#" class="link-linkedin"></a></li>
      </ul>
      <div class="copyright">
        © COPYRIGHT 2016. ALL RIGHTS RESERVED.
      </div>
    </div>
  </div>
</footer>